.task-card{
    background-color: #8bc6ec ;
    width: 300px;
    padding: 5px 10px;
    margin: 5px;
    border-radius:10px;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    cursor: pointer;
    position: relative;
}

.task-title{
  font-size: 18px;
  font-weight: 400;
  margin: 2px;  
 
}

.delete-icon{
    height: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 3px;
}
.task-category{
position: absolute;
right: 40px;
font-size: 12px;
background-color: white;
width: 70px;
text-align: center;
border-radius: 10px;
cursor: pointer;


}